{% extends 'layout.html' %} {% block body %}
<div class="section post-section pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <img
            src="{{article.author.profile.account_img.url}}"
            style="
              width: 75px;
              height: 75px;
              border-radius: 50%;
              object-fit: cover;
              padding: 0.3rem;
              background-color: #fff;
              border: 1px solid #dee2e6;
              margin-bottom: 10px;
            " />
        </div>
        <span class="d-block text-center"
          ><a
            href="#"
            class="link-secondary"
            style="text-decoration: None"
            data-bs-toggle="modal"
            data-bs-target="#userInfoModal"
            >{{article.author}}</a
          ></span
        >
        <span
          class="
            date
            d-block
            text-center
            small
            text-uppercase text-black-50
            mb-5
          "
          >{{article.created_date|date:"d M Y, H:i"}}</span
        >
        <h2 class="heading text-center mb-4 display-6">{{article.title}}</h2>
        {% if article.article_img %}
        <div class="d-flex justify-content-center">
          <img
            src="{{article.article_img.url}}"
            alt="Image"
            class="img-fluid rounded mb-4" />
        </div>
        {% endif %}
        <hr />
        <p class="mt-4">{{article.content|safe}}</p>
      </div>
      {% comment %} Comment Section {% endcomment %}
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-8">
            <div class="card text-dark" style="border: 0px">
              <div class="card-body p-4">
                <h4 class="mb-4 pb-2">Recent comments</h4>
                {% if request.user.is_authenticated %}
                <form
                  method="post"
                  action="{% url 'article:comment' article.id %}">
                  {% csrf_token %}
                  <div
                    class="
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-center
                      mb-2
                    ">
                    <i class="fas fa-comment-dots fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <textarea
                        type="text"
                        id="comment"
                        name="comment_content"
                        class="form-control"
                        placeholder="Your comment"
                        style="height: 100px"></textarea>
                      <label class="form-label" for="search"
                        >Your comment</label
                      >
                      <div class="form-floating d-grid">
                        <button type="submit" class="btn btn-dark my-1">
                          Post
                        </button>
                      </div>
                    </div>
                  </div>
                  <div
                    class="
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-center
                      mb-4
                    "></div>
                </form>
                {% endif %} {% if comments %} {% for comment in comments %}
                <div class="d-flex flex-start">
                  <img
                    class="rounded-circle shadow-1-strong me-3"
                    src="{{comment.comment_user_img.account_img.url}}"
                    alt="avatar"
                    width="60"
                    height="60"
                    style="border-radius: 30px; object-fit: cover" />
                  <div>
                    <h6 class="fw-bold mb-1">{{comment.comment_author}}</h6>
                    <div class="d-flex align-items-center mb-3">
                      <p class="mb-0">
                        {{comment.comment_date|date:"d M Y, H:i"}}
                      </p>
                    </div>
                    <p class="mb-0">{{comment.comment_content}}</p>
                  </div>
                </div>
                <hr class="mt-4 mb-4" />
                {% endfor %} {% else %}
                <div class="alert alert-light text-center" role="alert">
                  No comments yet.
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} User info modal {% endcomment %}
<div
  class="modal fade"
  id="userInfoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-block text-center">
          <div class="user-image">
            <img
              src="{{article.author.profile.account_img.url}}"
              style="
                width: 140px;
                height: 140px;
                border-radius: 50%;
                object-fit: cover;
                padding: 0.3rem;
                background-color: #fff;
                border: 1px solid #dee2e6;
              " />
          </div>
          <h4
            class="f-w-600 mt-4 mb-2"
            style="line-height: 22px; font-size: 28px">
            {{article.author.first_name}}
          </h4>
          <p class="text-muted">
            @{{article.author.username}} <span>| </span
            ><span
              ><a
                href="mailto: {{article.author.email}}"
                style="color: #ff679b; text-decoration: none"
                >{{article.author.email}}</a
              ></span
            >
          </p>
          <p class="text-muted">
            Last login {{article.author.last_login|date:"d F Y, H:i"}}
          </p>
          <hr />
          <p class="text-muted" style="margin-top: 15px">
            {{article.author.profile.userAbout}}
          </p>
          <div class="mt-4">
            <div class="row">
              <div class="col-4">
                <div class="mt-3">
                  <h4>{{statistics.articleCount}}</h4>
                  <p class="mb-0 text-muted">Written articles</p>
                </div>
              </div>
              <div class="col-4">
                <div class="mt-3">
                  <h4>{{statistics.avgWordCount}}</h4>
                  <p class="mb-0 text-muted">Avg word usage</p>
                </div>
              </div>
              <div class="col-4">
                <div class="mt-3">
                  <h4>{{statistics.commentCount}}</h4>
                  <p class="mb-0 text-muted">Made comments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}
</div>
